In [1]:
#Alle Aufgaben
# In dieser Datei werden alle Aufgaben bearbeitet

In [2]:
#libary Imports

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Hier wird die kuratierte csv eingelesen

df = pd.read_csv('data/Kuratiert.csv', sep = ";", decimal =',')

In [4]:
# Aufgabe 1 - Wie viele Autos wurden verkauft?

In [5]:
# Zuerst schauen wir, wie viele Zeilen es gibt
df.shape

(1995, 7)

In [6]:
# Dann werden alle fehlenden Werte in einer Variable zugewiesen
missing_values_countdf = df.isnull().sum()

# Anschließend wird von der Gesamtanzahl der Zeilen, die Variable abgezogen, um herauszufinden, welche und wie viele Zeilen nicht leer sind.
print(1995 - missing_values_countdf)

KundeNr          1995
Alter            1995
Geschlecht       1995
Zeit             1995
Einkommen        1995
Preis            1104
Niederlassung    1995
dtype: int64

In [7]:
# Antwort: Es wurden insgesamt 1104 Autos verkauft

In [8]:
# Aufgabe 2 - Was ist der Höchst-, Mindest- und Durchschnittspreis der verkauften Autos?

In [9]:
# Hier werden statistische Merkmale angezeigt
df.describe()

             Alter   Geschlecht         Zeit      Einkommen          Preis
count  1995.000000  1995.000000  1995.000000    1995.000000    1104.000000
mean     50.158396     0.611028    40.262657   59104.923060   88975.198714
std      11.913807     0.487639    11.621591   16209.529474   24464.067781
min      30.000000     0.000000     3.000000   14547.000000   21471.650000
25%      40.000000     0.000000    32.000000   47093.000000   70609.422500
50%      51.000000     1.000000    40.000000   59104.513014   88931.455000
75%      61.000000     1.000000    48.000000   70639.675007  107093.375000
max      70.000000     1.000000    80.000000  100769.000000  165482.310000

In [10]:
# Antwort: 
# Höchstpreis = 165482.310000
# Mindestpreis = 21471.650000
# Durchschnittspreis = 88975.198714

In [11]:
# Aufgabe 3 - Wie hoch war der Gesamtumsatz?

In [12]:
# Alle Werte in der Spalte "Preis" werden summiert und einer Variable zugewiesen.
gesamtumsatz = df.Preis.sum()

# Anschließend wird der Wert der Variable ausgegeben
gesamtumsatz

98228619.38

In [13]:
# Antwort: Der Gesamtumsatz war 98.228.619,38

In [14]:
# Aufgabe 4 - Wie viele Autos wurden pro Bundesland verkauft?

In [ ]:
# Test